node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

### Node ###
# npm
package-lock.json

# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

### VS Code ###
.vscode/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
